.menuLateral {
  display: flex;
  flex-direction: column;
  gap: 10%;
  position: fixed;
  background-color: gray;
  align-items: center;
  justify-content: center;
  height: 180px;
  width: 30px;
  top: 150px;
  right: 0;
  z-index: 1;
}

.iconWhite {
  color: white;
}
